:root {
    --bg-nav-color: #2C3E50;
    --bg-hero-color: #1ABC9C;
}

/* COMMON */

img {
    max-width: 100%;
}

[class*="col"] {
    background-color: white;
    /* Debug */
    border: 1px solid black;
}

/* HEADER */

/* Nav */

nav {
    height: 100px;
    background-color: var(--bg-nav-color);
}

nav .container-fluid, nav .container, nav .row {
    height: 100%;
}

nav [class*="col"] {
    min-height: 50px;
}

/* Hero */

#hero {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 400px;
    background-color: var(--bg-hero-color);
}

.jumbo-content-container {
    width: 80%;
    min-height: 350px; 
    background-color: white;
}