:root {
  --bg-nav-color: #2c3e50;
  --bg-hero-about-color: #1abc9c;
}

/* COMMON */

img {
  max-width: 100%;
}

[class*="col"] {
  background-color: white;
  /* Debug */
  border: 1px solid black;
}

.form-floating>.form-control {
  padding: 2rem 0;
}

/* HEADER */

/* Nav */

nav {
  height: 100px;
  background-color: var(--bg-nav-color);
}

nav .container-fluid,
nav .container,
nav .row {
  height: 100%;
}

nav [class*="col"] {
  min-height: 50px;
}

/* Hero */

#hero {
  min-height: 400px;
  background-color: var(--bg-hero-about-color);
}

.jumbo-content-container {
  width: 80%;
  background-color: white;
}

/* MAIN */

main [class*="col"] {
    min-height: 350px;
}

#about {
  background-color: var(--bg-hero-about-color);
}